.custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
}
.custom-map-control-button:hover {
    background: rgb(235, 235, 235);
}
input[x-ref="pacinput"] {
    top: 0.75rem !important;
    inset-inline-end: 0.75rem !important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 0.125rem;
    border: 1px solid #d1d5db;
    padding: 0.5rem;
    outline: none;
}
input[x-ref="pacinput"]:focus {
    box-shadow: none;
    border-color: black;
}
